.u-section-1 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 35px 344px 0 691px;
}

.u-section-1 .u-text-3 {
  margin: -68px 138px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 41px 142px 0 auto;
}

.u-section-1 .u-table-1 {
  margin-top: -109px;
  margin-bottom: 0;
}

.u-block-45e2-17 {
  height: 47px;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-5 {
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-7 {
  font-size: 1.5rem;
}

.u-block-45e2-28 {
  height: 47px;
}

.u-section-1 .u-image-1 {
  width: 493px;
  height: 397px;
  margin: -753px auto 0 77px;
}

.u-section-1 .u-text-4 {
  margin: 378px auto 56px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 244px;
    margin-left: 591px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 134px;
    margin-left: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 44px;
    margin-left: 391px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 235px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 87px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 274px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 695px;
}

.u-section-2 .u-table-1 {
  width: 993px;
  margin: 43px auto 60px;
}

.u-block-2e74-10 {
  height: 47px;
}

.u-block-2e74-25 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
}